# Дополнительные зависимости для Kerberos / GSSAPI
# Нужны только при auth_protocol: kerberos в конфиге SMB-источника
# (кросс-доменный SMB-доступ без явных учётных данных).
#
# Перед установкой необходимы системные пакеты:
#   sudo apt install gcc libkrb5-dev python3-dev
#
# Установка:
#   pip install -r requirements-kerberos.txt

gssapi>=1.8.0
krb5>=0.5.0
